@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Italic';
    src: url('../fonts/SourceSansPro-It.woff2') format('woff2'),
        url('../fonts/SourceSansPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
}
body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
}
a {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: underline;
	color: #ffffff;
}

/*CSS HEADER*/
header {
	text-align: center;
	padding: 5%;
	position: relative;
}
.logo {
	width: 13%;
	margin: 0 auto;
}
.logo img {
	width: 100%;
}
nav {
	font-size: 32px;
	color: #ffffff;
	margin-top: 30px;
}
nav a {
	text-decoration: none;
	color: #ffffff;
	padding: 5px 25px;
	margin: 0 30px
	-webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	transition:All 1s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;

}
nav a:hover {
	background-color: #e63324;
	text-decoration: none;
	color: #ffffff;
	-webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}
nav a.active_menu {
	background-color: #e63324;
	-webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);	
}
.social {
	position: absolute;
	top: 8%;
	right: 2%;
}
.social ul li {
	background-image: url('../images/social.png');
	margin-bottom: 20px;
	width: 50px;
	height: 50px;
}
.social ul li.s_youtube {
	background-position-y: 189px;
}
.social ul li.s_pinterest {
	background-position-y: 119px;
}
.social ul li.s_facebook {
	background-position-y: 50px;
}
.social ul li span {
	display: none;
}

/*CSS NOSOTROS*/
.content_prin	{
    overflow: hidden;
    padding: 0 3%;
    display: flex;
}
.paragraph {
	text-align: right;
    font-size: 15px;
    align-self: center;
    padding: 0;
    padding-right: 2%;
}
.paragraph p {
	margin: 0;
    padding: 0;
    padding-left: 6px;
}
hr {
	display: block;
    border-width: 2px;
    border-color: #e63324;
}
.imgContent {
	display: grid;
	grid-template-columns: auto 404px;
	grid-gap: 25px;
}
.imgContent img{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	transition:All .7s ease;
	-webkit-transition:All .7s ease;
	-moz-transition:All .7s ease;
	-o-transition:All .7s ease;
}
.imgContent img:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.img_nos {
	text-align: center;
}
.img_nos img {
	max-width: 1140px;
	width: 100%
}
.design {
	text-align: center;
	margin: 100px 0;
}
.design ul {
	margin: 0;
	vertical-align: middle;
}
.design ul li {
	display: inline-block;
	font-size: 34px;
	font-family: 'Bebas Neue Book', sans-serif;
	line-height: 33px;
	padding: 0 70px;
	vertical-align: middle;
}
.arq {
	text-align: right;
	border-right: 2px solid #e63324;
	width: 307px;
}
.mob {
	text-align: left;
	border-left: 2px solid #e63324;
	width: 326px;
}
.rombo {
	margin: 0 50px;
}
.swiper-container {
	width: 100%;
	max-width: 1180px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.carousel-section{
	position: relative;
	padding: 0 20px;
}
.swiper-slide{
	max-width: 480px;
	position: relative;
}
.swiper-slide .swiper-box-content{
	width: 100%;
	position: relative;
}
.swiper-box-content img{
	width: 100%;
	height:auto;
}
.swiper-button-next, .swiper-button-prev{
	border: 2px solid #ffffff;
	border-radius: 100%;
	padding: 22px;
	background-size: 20px 30px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: 30px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: 30px;
}
.proyect-btn{
	position: absolute;
	background: transparent;
	border:1px solid #ffffff;
	padding:5px 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	bottom: 50px;
	right: 50px;
	letter-spacing: 3px;
	-webkit-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}
.proyect-btn span{
	font-size: 22px;
	font-weight: bold;
	margin: 0 6px;	-webkit-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}
.proyect-btn:hover{
	background: #ffffff;
	color: #000000;
	text-decoration: none;
}
.proyect-btn:hover span{
	color: #000000;
}
.proyectInfo{
	text-align: center;
	padding: 40px;
}
.swiper-carousel .proyectInfo, .swiper-carousel .proyect-btn {
	opacity: 0;
}
.swiper-carousel .swiper-slide-active .proyectInfo, .swiper-carousel .swiper-slide-active .proyect-btn {
	opacity: 1;
}
.swiper-carousel .swiper-slide .swiper-box-content img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.swiper-carousel .swiper-slide-active .swiper-box-content img {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}
.proyectInfo h3{
	font-family: 'Bebas Neue Book', sans-serif;
	font-size: 55px;
}
.proyectInfo p{
	font-size: 28px;
	font-style: italic;
}
.proyectInfo i.fa{
	margin-right: 15px;
}
.proyectInfo .square{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 50px;
	vertical-align: middle;
	background: #e63324;
}
.swiper-modal .swiper-slide{
	width: 100%;
	max-width: 100%;
}
	/*CSS NUESTROS PROYECTOS*/

/*CSS FOOTER*/
footer {
	background-color: #000000;
	padding: 20px;
	overflow: hidden;
	width: 100%;
}
footer .data {
    text-align: right;
    border-right: 2px solid;
}
footer .col-md-6 p {
	line-height: 20px;
}
@media only screen and (max-width: 1199px){
	.paragraph {
		text-align: center;
		padding-bottom: 40px;
	}
	.imgContent {
		grid-template-columns: auto 59%;
	}
	.design ul li{
		padding: 0 20px;
	}
	.arq, .mob{
		width: auto;
	}
}

@media screen and (max-width: 780px) {
	.design ul li{
		font-size: 30px;
	}
	.rombo {
		margin: 0 20px;
	}
	nav a{
		font-size: 25px;
	}
}
@media (max-width: 660px) {
	.logo{
		width: 30%;
	}
	nav a {
		font-size: 22px;
		display: block;
		max-width: 85%;
		margin: auto;
	}
	.imgContent {
		grid-template-columns: auto;
	}
	.design ul li {
		font-size: 30px;
		display: block;
		text-align: center;
		padding: 20px;
		border: none;
	}
	footer .data{
		border-right: none;
		margin-bottom: 15px;
		border-bottom: 2px solid #ffffff;
	}
	footer p{
		text-align: center;
	}
	.proyectInfo h3 {
		font-size: 35px;
	}
	.proyectInfo p {
		font-size: 18px;
	}
	.swiper-button-next, .swiper-button-prev{
		border:none;
		top:70%;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: 8px;
	}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: 8px;
	}
}